# Programación 201

### Ejercicio 1

Carga los datos desde el archivo `netflixtitles.csv` , que puedes encontrar en la carpeta `data`, en un *dataframe*. Este conjunto de datos recoje información sobre películas y séries de TV de Netflix (https://www.kaggle.com/shivamb/netflix-shows) hasta el 2019.  

Muestra el número de filas del *dataframe* y los nombres de las columnas.

*Consideraciones:*

*  Muestra únicamente la información pedida en el enunciado.

In [14]:
# Respuesta
import pandas as pd
ruta_fichero = "netflixtitles.csv"
df_netflix = pd.read_csv(ruta_fichero)
type(df_netflix)

print ( df_netflix.index)
print ( df_netflix.columns)

RangeIndex(start=0, stop=6234, step=1)
Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

### Ejercicio 2

Agrupa los datos cargados en el ejercicio 1 por **año** y, para cada año, muestra el número total de películas (*Movies*) y series de TV (*TV Show*) por separado. 

**Nota:** Al Notebook de teoría hemos visto cómo calcular la media de una agrupación de datos. Para resolver este ejercicio necesitarás investigar cómo contar (*count*) todos los valores de una columna en una agrupación. Te puede ser de utilidad la función [aggregate](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.aggregate.html) de pandas, la que nos permite aplicar diferentes funciones a una columna en un ```groupby```.

In [29]:
df_netflix.groupby(['release_year','title']).count()

                                                            show_id  type  \
release_year title
1925         Pioneers: First Women Filmmakers*                    1     1
1942         Prelude to War                                       1     1
             The Battle of Midway                                 1     1
1943         Undercover: How to Operate Behind Enemy Lines        1     1
             WWII: Report from the Aleutians                      1     1
...                                                             ...   ...
2020         Sex, Explained                                       1     1
             Spinning Out                                         1     1
             The Circle                                           1     1
             The Healing Powers of Dude                           1     1
             Until Dawn                                           1     1

                                                            director  cast  \
release_year title
1925         Pioneers: First Women Filmmakers*                     0     0
1942         Prelude to War                                        1     0
             The Battle of Midway                                  1     1
1943         Undercover: How to Operate Behind Enemy Lines         1     0
             WWII: Report from the Aleutians                       1     0
...                                                              ...   ...
2020         Sex, Explained                                        0     1
             Spinning Out                                          0     1
             The Circle                                            0     1
             The Healing Powers of Dude                            0     1
             Until Dawn                                            0     1

                                                            country  \
release_year title
1925         Pioneers: First Women Filmmakers*                    0
1942         Prelude to War                                       1
             The Battle of Midway                                 1
1943         Undercover: How to Operate Behind Enemy Lines        1
             WWII: Report from the Aleutians                      1
...                                                             ...
2020         Sex, Explained                                       1
             Spinning Out                                         0
             The Circle                                           0
             The Healing Powers of Dude                           0
             Until Dawn                                           1

                                                            date_added  \
release_year title
1925         Pioneers: First Women Filmmakers*                       1
1942         Prelude to War                                          1
             The Battle of Midway                                    1
1943         Undercover: How to Operate Behind Enemy Lines           1
             WWII: Report from the Aleutians                         1
...                                                                ...
2020         Sex, Explained                                          1
             Spinning Out                                            1
             The Circle                                              1
             The Healing Powers of Dude                              1
             Until Dawn                                              1

                                                            rating  duration  \
release_year title
1925         Pioneers: First Women Filmmakers*                   1         1
1942         Prelude to War                                      1         1
             The Battle of Midway                                1         1
1943         Undercover: How to Operate Behind Enemy Lines       1         1
             WWII: Report from the Aleutians                     1         1
...                                                            ...       ...
2020         Sex, Explained                                      1         1
             Spinning Out                                        1         1
             The Circle                                          1         1
             The Healing Powers of Dude                          1         1
             Until Dawn                                          1         1

                                                            listed_in  \
release_year title
1925         Pioneers: First Women Filmmakers*                      1
1942         Prelude to War                                         1
             The Battle of Midway                                   1
1943         Undercover: How to Operate Behind Enemy Lines          1
             WWII: Report from the Aleutians                        1
...                                                               ...
2020         Sex, Explained                                         1
             Spinning Out                                           1
             The Circle                                             1
             The Healing Powers of Dude                             1
             Until Dawn                                             1

                                                            description
release_year title
1925         Pioneers: First Women Filmmakers*                        1
1942         Prelude to War                                           1
             The Battle of Midway                                     1
1943         Undercover: How to Operate Behind Enemy Lines            1
             WWII: Report from the Aleutians                          1
...                                                                 ...
2020         Sex, Explained                                           1
             Spinning Out                                             1
             The Circle                                               1
             The Healing Powers of Dude                               1
             Until Dawn                                               1

[6228 rows x 10 columns]

In [15]:
df_netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

### Ejercicio 3

Muestra las películas estrenadas el _2019_ que tienen una duración superior a _100_ minutos. 

**Nota:** Al Notebook de teoría hemos visto operaciones básicas de filtrado. Para resolver este ejercicio necesitarás investigar cómo aplicar condiciones más complejas. 

**Nota 2:** Los valores de la columna de duración (*duration*) son strings, ya que combinan números y letras. Por lo tanto, se tienen que transformar a int una vez se haya construido el subset de datos de películas. Te puede ser de utilidad la función [astype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html) de pandas.

In [3]:
# Respuesta

### Ejercicio 4

Queremos buscar aquellos países donde se estrenaron más de 10 películas al año. Debes mostrar por pantalla el **año**, el **nombre del país** y el **número total de películas** estrenadas en el año correspondiente.

**Nota**: Además del contenido de los notebooks de teoría, puedes utilizar lo que has aprendido haciendo el ejercicio 2.

In [3]:
# Respuesta

### Ejercicio 5

Crea una copia del dataframe original añadiendo una nueva columna que nos indicará por cada fila la duración de la película. Definimos tres niveles:

- **short** : si la duración es inferior a 90 minutos. 
- **medium** : si la duración está entre 90 y 150 minutos.
- **long** : si la duración es superior a 150 minutos.

Muestra por pantalla aquellas filas que correspondan a una duración corta ( _short_ ). 

**Nota:** pandas nos ofrece principalmente tres maneras de añadir nuevas columnas a un dataframe existente. Cualquiera de las tres formas son válidas para resolver este ejercicio. Podéis buscar en Internet cómo añadir columnas a un dataframe de pandas, ya que la documentación presenta los tres métodos de forma separada.

In [3]:
# Respuesta

### Ejercicio 6

En este ejercicio trabajaremos con el dataset de Netflix, pero analizando las series de TV. Muestra un gráfico de barras con el número de series de TV americanas agrupadas por categoría (*listed_in*).


Consideraciones:

- Debes mostrar los datos de manera horizontal (barras horizontales).
- El eje de las Y debe incluir las etiquetas de las categorías de las series de TV.
- Debe incluir un texto con el número de series por cada categoría del gráfico. El texto debería estar situado a la derecha de cada barra.

**Nota**: En el Notebook de teoría hemos visto cómo mostrar gráficos lineares simples con el matplotlib. Para este ejercicio explora las funcionalidades que presenta la librería pandas para generar gráficos a partir de dataframes. También pueden ser de utilidad las funciones [text](https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.text.html) o [annotate](https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.annotate.html) para mostrar el número de series al lado de cada barra.

In [3]:
# Respuesta

### Ejercicio Opcional

Python es un lenguaje de programación muy utilizado en el procesamiento de imágenes. En este ejercicio veremos una aplicación de detección de elementos en una imagen de microscopía de escaneo (en inglés: Scanning Element Microscopy (SEM)).

En esta imagen se puede ver una muestra de vidrio (gris claro) con algunas burbujas (elementos negros) y granos de arena (gris oscuro). Queremos ser capaces de detectar los diferentes elementos de la muestra a partir de la imagen.

Una imagen se puede ver como una matriz bidimensional donde cada elemento de la matriz corresponde al valor de un pixel de la imagen. Por ejemplo, si miramos la matriz de la imagen que os proporcionamos, veremos valores que van de 0 a 255. Así pues, para distinguir los diferentes elementos de la muestra de vidrio, nos tendremos que fijar en el nivel de gris de los píxeles de la imagen a través del histograma. <span style="font-family: Courier New; background-color: #f2ae72; color: #000000; padding: 3px; ">EI</span> 


Parte A: 

* Para poder identificar mejor los elementos de la muestra de vidrio, primero hemos aplicado un filtro de mediana para reducir el ruido. Grafica ahora la distribución de los píxeles de la imagen inicial y la imagen filtrada. ¿Qué diferencia puedes apreciar entre ambas distribuciones?

**Nota:** Utiliza la función [distplot](https://seaborn.pydata.org/generated/seaborn.distplot.html) de la librería Seaborn para visualizar la distribución de los valores píxeles de la imagen.

Parte B: 

* Utilizando los valores del distribution plot de la imagen filtrada, determina unos umbrales que permitan diferenciar los píxeles de arena, los píxeles de vidrio y los píxeles de burbuja.

* Una vez que hayas definido los umbrales, muestra por pantalla una imagen donde cada uno de los elementos esté en un color diferente.

In [3]:
# Respuesta